<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.hospital.baseinformation.dao.FmedItemMapper">
    <resultMap id="BaseResultMap" type="com.neu.hospital.baseinformation.entity.FmedItem">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="ItemCode" jdbcType="VARCHAR" property="itemcode"/>
        <result column="ItemName" jdbcType="VARCHAR" property="itemname"/>
        <result column="Format" jdbcType="VARCHAR" property="format"/>
        <result column="Price" jdbcType="DECIMAL" property="price"/>
        <result column="ExpClassID" jdbcType="INTEGER" property="expclassid"/>
        <result column="DeptID" jdbcType="INTEGER" property="deptid"/>
        <result column="MnemonicCode" jdbcType="VARCHAR" property="mnemoniccode"/>
        <result column="CreationDate" jdbcType="TIMESTAMP" property="creationdate"/>
        <result column="LastUpdateDate" jdbcType="TIMESTAMP" property="lastupdatedate"/>
        <result column="RecordType" jdbcType="INTEGER" property="recordtype"/>
        <result column="DelMark" jdbcType="INTEGER" property="delmark"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from fmeditem
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.neu.hospital.baseinformation.entity.FmedItem">
        insert into fmeditem (ID, ItemCode, ItemName,
                              Format, Price, ExpClassID,
                              DeptID, MnemonicCode, CreationDate,
                              LastUpdateDate, RecordType, DelMark)
        values (#{id,jdbcType=INTEGER}, #{itemcode,jdbcType=VARCHAR}, #{itemname,jdbcType=VARCHAR},
                #{format,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{expclassid,jdbcType=INTEGER},
                #{deptid,jdbcType=INTEGER}, #{mnemoniccode,jdbcType=VARCHAR}, #{creationdate,jdbcType=TIMESTAMP},
                #{lastupdatedate,jdbcType=TIMESTAMP}, #{recordtype,jdbcType=INTEGER}, #{delmark,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.neu.hospital.baseinformation.entity.FmedItem">
        update fmeditem
        set ItemCode       = #{itemcode,jdbcType=VARCHAR},
            ItemName       = #{itemname,jdbcType=VARCHAR},
            Format         = #{format,jdbcType=VARCHAR},
            Price          = #{price,jdbcType=DECIMAL},
            ExpClassID     = #{expclassid,jdbcType=INTEGER},
            DeptID         = #{deptid,jdbcType=INTEGER},
            MnemonicCode   = #{mnemoniccode,jdbcType=VARCHAR},
            CreationDate   = #{creationdate,jdbcType=TIMESTAMP},
            LastUpdateDate = #{lastupdatedate,jdbcType=TIMESTAMP},
            RecordType     = #{recordtype,jdbcType=INTEGER},
            DelMark        = #{delmark,jdbcType=INTEGER}
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select ID,
               ItemCode,
               ItemName,
               Format,
               Price,
               ExpClassID,
               DeptID,
               MnemonicCode,
               CreationDate,
               LastUpdateDate,
               RecordType,
               DelMark
        from fmeditem
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" parameterType="com.neu.hospital.baseinformation.entity.FmedItem" resultMap="BaseResultMap">
        select A.ItemCode,
               A.ItemName,
               A.Format,
               A.Price,
               B.ExpName,
               C.DeptName,
               A.MnemonicCode,
               A.CreationDate,
               A.LastUpdateDate,
               A.RecordType,
               A.DelMark
        from fmeditem A
                 LEFT JOIN expenseclass B
                           on A.ExpClassID = B.ID
                 LEFT JOIN department C
                           on A.DeptID = C.ID
        <where>
            <if test="itemname != null and itemname != ''">
                and A.ItemName like concat('%',#{itemname},'%')
            </if>
        </where>
    </select>
</mapper>