<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neu.hospital.outpatientpharmacy.dao.DrugsdetailedMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.neu.hospital.outpatientpharmacy.entity.Drugsdetailed" id="BaseResultMap">
        <result property="id" column="ID"/>
        <result property="drugstempid" column="DrugsTempID"/>
        <result property="drugsid" column="DrugsID"/>
        <result property="drugsusage" column="DrugsUsage"/>
        <result property="dosage" column="Dosage"/>
        <result property="frequency" column="Frequency"/>
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from drugsdetailed
    </select>

</mapper>