<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.hospital.outpatientmedicaltechnology.dao.DiseaseMapper">
  <resultMap id="BaseResultMap" type="com.neu.hospital.outpatientmedicaltechnology.entity.Disease">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DiseaseCode" jdbcType="VARCHAR" property="diseasecode" />
    <result column="DiseaseName" jdbcType="VARCHAR" property="diseasename" />
    <result column="DiseaseICD" jdbcType="VARCHAR" property="diseaseicd" />
    <result column="DiseCategoryID" jdbcType="INTEGER" property="disecategoryid" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
<!--    delete from disease-->
<!--    where ID = #{id,jdbcType=INTEGER}-->
<!--  </delete>-->
<!--  <insert id="insert" parameterType="com.neu.hospital.outpatientmedicaltechnology.entity.Disease">-->
<!--    insert into disease (ID, DiseaseCode, DiseaseName, -->
<!--      DiseaseICD, DiseCategoryID, DelMark-->
<!--      )-->
<!--    values (#{id,jdbcType=INTEGER}, #{diseasecode,jdbcType=VARCHAR}, #{diseasename,jdbcType=VARCHAR}, -->
<!--      #{diseaseicd,jdbcType=VARCHAR}, #{disecategoryid,jdbcType=INTEGER}, #{delmark,jdbcType=INTEGER}-->
<!--      )-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.neu.hospital.outpatientmedicaltechnology.entity.Disease">-->
<!--    update disease-->
<!--    set DiseaseCode = #{diseasecode,jdbcType=VARCHAR},-->
<!--      DiseaseName = #{diseasename,jdbcType=VARCHAR},-->
<!--      DiseaseICD = #{diseaseicd,jdbcType=VARCHAR},-->
<!--      DiseCategoryID = #{disecategoryid,jdbcType=INTEGER},-->
<!--      DelMark = #{delmark,jdbcType=INTEGER}-->
<!--    where ID = #{id,jdbcType=INTEGER}-->
<!--  </update>-->
<!--  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
<!--    select ID, DiseaseCode, DiseaseName, DiseaseICD, DiseCategoryID, DelMark-->
<!--    from disease-->
<!--    where ID = #{id,jdbcType=INTEGER}-->
<!--  </select>-->
  <select id="selectAll" parameterType="com.neu.hospital.outpatientmedicaltechnology.entity.Disease" resultMap="BaseResultMap">
    select A.DiseaseCode, A.DiseaseName, A.DiseaseICD, B.DicaName, B.DicaType, A.DelMark
	from disease A
	LEFT JOIN disecategory B
	on A.DiseCategoryID = B.ID
  </select>
</mapper>