<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neu.hospital.outpatientregistration.dao.RegisterMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.neu.hospital.outpatientregistration.entity.Register" id="BaseResultMap">
        <result property="id" column="ID"/>
        <result property="casenumber" column="CaseNumber"/>
        <result property="realname" column="RealName"/>
        <result property="gender" column="Gender"/>
        <result property="idnumber" column="IDnumber"/>
        <result property="birthdate" column="BirthDate"/>
        <result property="age" column="Age"/>
        <result property="agetype" column="AgeType"/>
        <result property="homeaddress" column="HomeAddress"/>
        <result property="visitdate" column="VisitDate"/>
        <result property="noon" column="Noon"/>
        <result property="deptid" column="DeptID"/>
        <result property="userid" column="UserID"/>
        <result property="registleid" column="RegistLeID"/>
        <result property="settleid" column="SettleID"/>
        <result property="isbook" column="IsBook"/>
        <result property="registtime" column="RegistTime"/>
        <result property="registerid" column="RegisterID"/>
        <result property="visitstate" column="VisitState"/>
    </resultMap>
    <select id="selectAll" parameterType="com.neu.hospital.outpatientregistration.entity.Register"
            resultMap="BaseResultMap">
        SELECT A.CaseNumber,
               A.RealName,
               B.ConstantName,
               A.IDnumber,
               A.BirthDate,
               A.Age,
               A.AgeType,
               A.HomeAddress,
               A.VisitDate,
               A.Noon,
               C.DeptName,
               D.RealName as docName,
               E.RegistName,
               F.SettleName,
               A.IsBook,
               A.RegistTime,
               A.RegisterID,
               A.VisitState
        from register A
                 LEFT JOIN constantitem B
                           ON A.Gender = B.ID
                 LEFT JOIN department C
                           ON A.DeptID = C.ID
                 LEFT JOIN `user` D
                           ON A.UserID = D.ID
                 LEFT JOIN registlevel E
                           ON A.RegistLeID = E.ID
                 LEFT JOIN settlecategory F
                           ON A.SettleID = F.ID
    </select>

</mapper>